<label>Server Name</label>
<!-- 
<input 
   type="text" 
   class="form-control"
   (input)="onUpdateServerName($event)">
-->

<!-- two-way data-binding -->
<input 
   type="text" 
   class="form-control"
   [(ngModel)]="serverName">

<!--  string interpolation 
<p> {{ serverName }}</p>
-->

<!-- Button adds a server using property binding. The disabled attribute is used to disable the button. -->
<button 
   class="btn btn-primary" 
   [disabled]="!allowNewServer" 
   (click)="onCreateServer()"> Add Server
</button>

<!-- {{ allowNewServer }} outputs the VALUE of the 'allownewServer' property. 
[innerText]="allowNewServer" also outputs the value of the property.
<p [innerText]="allowNewServer"></p>  -->
<!--<p>{{ serverCreationStatus }}</p>-->

<!-- Add the ngIf directive as an attribute of the p tag -->
<p *ngIf="serverCreated"> Server was created. Server name is {{ serverName }}</p>

 


<app-server></app-server>
<app-server></app-server>
